<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

        th {
            background-color: darkseagreen;
            color: aliceblue;
        }

        tr:nth-child(even) {
            background-color: khaki;
        }

        tr:nth-child(odd) {
            background-color: ivory;
        }
    </style>
</head>
<body>

<h1 align="center" th:text="'Todos for today:'"></h1>
<h2 align="center">
    <a class="label label-success" href="/todo/adder">What has to be done, master?</a>
</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
                        <table style="width:100%">
                            <tr>
                                <th>Id</th>
                                <th>What has to be done?</th>
                                <th>Urgent</th>
                                <th>is it done?</th>
                                <th>Do you need it master?</th>
                                <th>Let's edit</th>
                            </tr>
                            <tr th:each="todo : ${todos}">
                                <td th:text="${todo.getId()}"></td>
                                <td th:text="${todo.getTitle()}"></td>
                                <td th:text="${todo.isUrgent()}"></td>
                                <td th:text="${todo.isDone()}"></td>
                                <td>
                                    <a class="label label-danger" th:href="'/' + ${todo.getId()} + '/delete'">NO</a>
                                </td>
                                <td>
                                    <a class="label label-info" th:href="'/' + ${todo.getId()} + '/edit'">edit</a>
                                </td>
                            </tr>
                        </table>


        </div>
    </div>
</div>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>